.CourseCard {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    aspect-ratio: 320/200;
}

.course-card-image {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.course-card-image img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.course-card-image p {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color-verde-manzana);
    padding: 5px 15px 5px 10px;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 10px 0;
    border-radius: 0 20px 20px 0;
}

.course-card-name {
    width: 100%;
    background-color: var(--color-celeste);
    border-radius: 0 0 20px 20px;
    position: relative;
    cursor: pointer;
}

.new-course-card-name {
    width: 100%;
    background-color: var(--color-celeste);
    border-radius: 0 0 20px 20px;
    position: relative;
}

.course-card-name h5 {
    margin: 20px 10px 20px 10px;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new-course-card-name h5 {
    margin: 20px 10px 20px 10px;
    font-size: 20px;
    font-weight: 500;
}

.card-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.card-content p {
    margin: 0 10px 10px 10px;
}

.card-content.expanded {
    max-height: 100px;
}

.new-card-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.new-card-content.expanded {
    max-height: 100px;
}